[submodule "Project1/cs291a_project1_template"]
	path = Project1/cs291a_project1_template
	url = https://github.com/AartiJivrajani/CS219
[submodule "cs291a_project1_template"]
	path = cs291a_project1_template
	url = https://github.com/AartiJivrajani/cs291a_project1_template.git
